# Visual Studio e .NET

# Pastas de build
bin/
obj/

# Arquivos de usuário e configurações locais
*.suo
*.user
*.rsuser
*.sln.docstates
.vs/

# Logs e caches
*.log
*.tlog
[Ll]og/
[Ll]ogs/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json